In [7]:
pip install pandasql

Collecting pandasqlNote: you may need to restart the kernel to use updated packages.

  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\phili\anaconda3\lib\site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in c:\users\phili\anaconda3\lib\site-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in c:\users\phili\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\phili\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\phili\anaconda3\lib\site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\phili\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\phili\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26800 sha256=8c52734cdf547887b7aecbfd748ec53d374730bf86ff8e925f048545f84039ef
  Stored in directory: c:\users\phili\appdata\local\pip\cache\wheels\4c\a4\ce\ad31f7d9f6bfce32741955de12e76e3a6e7181c20321db3c66
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import pandasql as ps

In [4]:
df17 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2017_Final_Revision.xlsx')
df18 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2018_Final_Revision.xlsx')
df19 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2019_Final_Revision.xlsx')
df20 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2020_Final_Revision.xlsx')
df21 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx')
df22 = pd.read_excel('EIA923_Schedules_2_3_4_5_M_12_2022_21FEB2023.xlsx')

In [4]:
df17.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,-18.438,-16.519,-18.925,-22.249,0,0,0,0,-291.00,2017
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,248836,203879,227094,253167,741965,741965,756470,756470,2958047.00,2017
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,452006,376385,428812,479416,56794711,56794711,57873437,57873437,5458926.00,2017
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,384122.43,418924.14,350252.5,210041.03,1626747,1626747,34013923,34013923,3353297.00,2017
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,13141.568,6080.856,4952.502,9742.968,982252,982252,1001765,1001765,94284.05,2017

In [34]:
df17.columns

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [ ]:
df17.groupby(['Reported\nPrime Mover'])['Reported\nPrime Mover'].count().sort_values(ascending = False)

C:\Users\phili\AppData\Local\Temp\ipykernel_14784\3471805239.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df17.groupby(['Operator Name'])['Reported\nPrime Mover', 'Reported\nPrime Mover'].count().sort_values(ascending = False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [28]:
df18.groupby(['Reported\nPrime Mover'])['Reported\nPrime Mover'].count().sort_values(ascending = False)

Reported\nPrime Mover
ST    3100
PV    2764
IC    1862
GT    1707
HY    1440
WT    1116
CT     834
CA     786
BA     119
FC      92
PS      40
BT      35
CS      32
OT      24
FW       4
CP       2
CE       1
WS       1
Name: Reported\nPrime Mover, dtype: int64

In [117]:
NextEraOnly = df21['Operator Name'].str.contains('NextEra', case=True)

df21.groupby(NextEraOnly)['Net Generation\n(Megawatthours)'].sum()

Operator Name
False    4.084939e+09
True     2.476086e+07
Name: Net Generation\n(Megawatthours), dtype: float64

In [30]:
df20.groupby(['Reported\nPrime Mover'])['Reported\nPrime Mover'].count().sort_values(ascending = False)

Reported\nPrime Mover
PV    3939
ST    2905
IC    1831
GT    1684
HY    1435
WT    1242
CT     827
CA     777
BA     208
FC     127
PS      42
BT      38
CS      30
OT      22
FW       4
CP       2
CE       1
WS       1
Name: Reported\nPrime Mover, dtype: int64

In [31]:
df21.groupby(['Reported\nPrime Mover'])['Reported\nPrime Mover'].count().sort_values(ascending = False)

Reported\nPrime Mover
PV    4527
ST    2813
IC    1912
GT    1655
HY    1418
WT    1278
CT     834
CA     788
BA     280
FC     147
PS      41
BT      38
CS      33
OT      23
FW       4
CP       2
WS       2
CE       1
Name: Reported\nPrime Mover, dtype: int64

In [94]:
df17.groupby(['Reported\nPrime Mover'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                       Net Generation\n(Megawatthours)
Reported\nPrime Mover
ST                                        2.191506e+09
CT                                        7.092320e+08
CA                                        3.576609e+08
HY                                        3.003329e+08
WT                                        2.541983e+08
GT                                        1.185736e+08
PV                                        5.001754e+07
CS                                        4.004015e+07
IC                                        1.432208e+07
BT                                        3.560175e+06
FC                                        1.000748e+06
CP                                        7.659950e+05
OT                                        7.246725e+05
WS                                        1.043510e+05
CE                                       -7.560000e+03
FW                                       -2.587800e+04
BA                                       -6.877200e+04
PS                                       -6.494548e+06

In [96]:
df18.groupby(['Reported\nPrime Mover'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                       Net Generation\n(Megawatthours)
Reported\nPrime Mover
ST                                        2.153044e+09
CT                                        7.945930e+08
CA                                        4.027270e+08
HY                                        2.925240e+08
WT                                        2.725501e+08
GT                                        1.419871e+08
PV                                        6.023356e+07
CS                                        4.770257e+07
IC                                        1.485286e+07
BT                                        3.844588e+06
FC                                        1.214461e+06
CP                                        9.718230e+05
OT                                        6.519343e+05
WS                                        1.173620e+05
CE                                       -5.961000e+03
FW                                       -2.785900e+04
BA                                       -8.780900e+04
PS                                       -5.904539e+06

In [97]:
df19.groupby(['Reported\nPrime Mover'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                       Net Generation\n(Megawatthours)
Reported\nPrime Mover
ST                                        1.970065e+09
CT                                        8.619877e+08
CA                                        4.316456e+08
WT                                        2.957652e+08
HY                                        2.878737e+08
GT                                        1.373164e+08
PV                                        6.871889e+07
CS                                        5.880755e+07
IC                                        1.609242e+07
BT                                        4.340131e+06
FC                                        1.645022e+06
CP                                        8.418100e+05
OT                                        7.473184e+05
WS                                        1.177920e+05
CE                                       -7.449000e+03
FW                                       -2.559400e+04
BA                                       -9.686900e+04
PS                                       -5.260744e+06

In [98]:
df20.groupby(['Reported\nPrime Mover'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                       Net Generation\n(Megawatthours)
Reported\nPrime Mover
ST                                        1.759051e+09
CT                                        8.815640e+08
CA                                        4.448016e+08
WT                                        3.378178e+08
HY                                        2.852739e+08
GT                                        1.365897e+08
PV                                        8.606597e+07
CS                                        5.807290e+07
IC                                        1.581653e+07
BT                                        4.222968e+06
FC                                        1.739967e+06
CP                                        7.757040e+05
OT                                        7.051848e+05
WS                                        1.202290e+05
CE                                       -5.376000e+03
FW                                       -2.419100e+04
BA                                       -1.308340e+05
PS                                       -5.321205e+06

In [99]:
df21.groupby(['Reported\nPrime Mover'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                       Net Generation\n(Megawatthours)
Reported\nPrime Mover
ST                                        1.863015e+09
CT                                        8.519738e+08
CA                                        4.299559e+08
WT                                        3.780630e+08
HY                                        2.515848e+08
GT                                        1.377452e+08
PV                                        1.123347e+08
CS                                        6.534753e+07
IC                                        1.687143e+07
BT                                        4.623492e+06
FC                                        2.004352e+06
CP                                        7.692900e+05
OT                                        6.816782e+05
WS                                        1.337910e+05
CE                                       -6.420000e+03
FW                                       -2.254000e+04
BA                                       -2.636610e+05
PS                                       -5.111684e+06

In [46]:
# Net Generation By WT per state <------------

False

In [59]:
df21.groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

                                Net Generation\n(Megawatthours)
Operator Name
Exelon Nuclear                                     1.819208e+08
Tennessee Valley Authority                         1.419298e+08
Florida Power & Light Co                           1.262830e+08
Duke Energy Carolinas, LLC                         9.829278e+07
Georgia Power Co                                   8.337351e+07
...                                                         ...
Convergent Energy and Power LP                    -2.224900e+04
Mosaic Phosphates Co.                             -7.989100e+04
Bear Swamp Power Company LLC                      -1.185320e+05
Yards Creek Energy                                -1.200770e+05
Seneca Generation LLC                             -1.698560e+05

[4908 rows x 1 columns]

In [65]:
df21[df21['Operator Name'] == 'Florida Power & Light Co']['Net Generation\n(Megawatthours)'].sum()

126283028.71100001

In [55]:
df17.columns

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved.1',
       'Reserved.2', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [56]:
df17.head()

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,.,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,-18.438,-16.519,-18.925,-22.249,0,0,0,0,-291.00,2017
1,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,248836,203879,227094,253167,741965,741965,756470,756470,2958047.00,2017
2,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,452006,376385,428812,479416,56794711,56794711,57873437,57873437,5458926.00,2017
3,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,384122.43,418924.14,350252.5,210041.03,1626747,1626747,34013923,34013923,3353297.00,2017
4,3,N,.,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,13141.568,6080.856,4952.502,9742.968,982252,982252,1001765,1001765,94284.05,2017

In [121]:
df21[df21['Reported\nPrime Mover'] == 'WT'][['Operator Name']].value_counts().sort_values(ascending = False).to_frame()


#I want to find the number of WT plants by plant operator

                                         0
Operator Name
Avangrid Renewables LLC                 59
EDF Renewable Asset Holdings, Inc.      33
MidAmerican Energy Co                   32
RWE Renewables Americas LLC             30
Invenergy Services LLC                  28
...                                     ..
Rising Tree Wind Farm III LLC            1
Redbed Plains Wind Farm LLC              1
Regents of the University of Minnesota   1
Reloj del Sol Wind Farm LLC              1
Wolverine Wind Energy, LLC               1

[704 rows x 1 columns]

In [76]:
filter1 = df17['Reported\nPrime Mover'] == 'WT'

In [21]:
df17[df17['Reported\nPrime Mover'] == 'WT'].groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                                       Net Generation\n(Megawatthours)
Operator Name
Avangrid Renewables LLC                                    14676270.08
MidAmerican Energy Co                                      12889477.00
EDF Renewable Asset Holdings, Inc.                         12190815.00
E ON Climate Renewables N America LLC                       9882294.00
Invenergy Services LLC                                      8900501.00
Pattern Operators LP                                        6577058.00
AE Power Services LLC                                       6292614.00
Southern Power Co                                           5391781.00
NRG Energy Gas & Wind Holdings Inc                          5268569.00
Enel Green Power NA, Inc.                                   4188217.00

In [18]:
df18[df18['Reported\nPrime Mover'] == 'WT'].groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                                       Net Generation\n(Megawatthours)
Operator Name
Avangrid Renewables LLC                                     16293974.0
EDF Renewable Asset Holdings, Inc.                          13504026.0
MidAmerican Energy Co                                       13491607.0
E ON Climate Renewables N America LLC                       11582831.0
Invenergy Services LLC                                       8344682.0
Pattern Operators LP                                         6991853.0
Southern Power Co                                            6028486.0
AE Power Services LLC                                        5221467.0
Enel Green Power NA, Inc.                                    5058772.0
NRG Energy Gas & Wind Holdings Inc                           4541622.0

In [16]:
df19[df19['Reported\nPrime Mover'] == 'WT'].groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                                    Net Generation\n(Megawatthours)
Operator Name
Avangrid Renewables LLC                                 16498136.00
RWE Renewables Americas LLC                             16367671.00
MidAmerican Energy Co                                   15917793.00
EDF Renewable Asset Holdings, Inc.                      13712690.00
Invenergy Services LLC                                   9668468.00
Pattern Operators LP                                     7502052.00
Southern Power Co                                        6271302.00
Enel Green Power NA, Inc.                                5118572.22
AE Power Services LLC                                    4834465.00
NRG Energy Gas & Wind Holdings Inc                       4423428.00

In [19]:
df20[df20['Reported\nPrime Mover'] == 'WT'].groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                                    Net Generation\n(Megawatthours)
Operator Name
MidAmerican Energy Co                                   20542009.00
Avangrid Renewables LLC                                 18373451.00
EDF Renewable Asset Holdings, Inc.                      14437726.00
RWE Renewables Americas LLC                             13647886.00
Invenergy Services LLC                                  10597971.00
Southern Power Co                                        7188367.00
Pattern Operators LP                                     7028514.00
Enel Green Power NA, Inc.                                5145596.29
AE Power Services LLC                                    4862757.00
NRG Energy Gas & Wind Holdings Inc                       4357505.00

In [66]:
df21.groupby(['Operator Name'])['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                              Net Generation\n(Megawatthours)
Operator Name
Exelon Nuclear                                   1.819208e+08
Tennessee Valley Authority                       1.419298e+08
Florida Power & Light Co                         1.262830e+08
Duke Energy Carolinas, LLC                       9.829278e+07
Georgia Power Co                                 8.337351e+07
Virginia Electric & Power Co                     7.486078e+07
Alabama Power Co                                 6.464947e+07
Duke Energy Progress - (NC)                      5.962623e+07
PacifiCorp                                       5.435660e+07
Arizona Public Service Co                        5.185857e+07

In [55]:
df21

Empty DataFrame
Columns: [Plant Id, Combined Heat And
Power Plant, Nuclear Unit Id, Plant Name, Operator Name, Operator Id, Plant State, Census Region, NERC Region, Reserved, NAICS Code, EIA Sector Number, Sector Name, Reported
Prime Mover, Reported
Fuel Type Code, AER
Fuel Type Code, Balancing
Authority Code, Respondent
Frequency, Physical
Unit Label, Quantity
January, Quantity
February, Quantity
March, Quantity
April, Quantity
May, Quantity
June, Quantity
July, Quantity
August, Quantity
September, Quantity
October, Quantity
November, Quantity
December, Elec_Quantity
January, Elec_Quantity
February, Elec_Quantity
March, Elec_Quantity
April, Elec_Quantity
May, Elec_Quantity
June, Elec_Quantity
July, Elec_Quantity
August, Elec_Quantity
September, Elec_Quantity
October, Elec_Quantity
November, Elec_Quantity
December, MMBtuPer_Unit
January, MMBtuPer_Unit
February, MMBtuPer_Unit
March, MMBtuPer_Unit
April, MMBtuPer_Unit
May, MMBtuPer_Unit
June, MMBtuPer_Unit
July, MMBtuPer_Unit
August, MMBtuPer_Unit
September, MMBtuPer_Unit
October, MMBtuPer_Unit
November, MMBtuPer_Unit
December, Tot_MMBtu
January, Tot_MMBtu
February, Tot_MMBtu
March, Tot_MMBtu
April, Tot_MMBtu
May, Tot_MMBtu
June, Tot_MMBtu
July, Tot_MMBtu
August, Tot_MMBtu
September, Tot_MMBtu
October, Tot_MMBtu
November, Tot_MMBtu
December, Elec_MMBtu
January, Elec_MMBtu
February, Elec_MMBtu
March, Elec_MMBtu
April, Elec_MMBtu
May, Elec_MMBtu
June, Elec_MMBtu
July, Elec_MMBtu
August, Elec_MMBtu
September, Elec_MMBtu
October, Elec_MMBtu
November, Elec_MMBtu
December, Netgen
January, Netgen
February, Netgen
March, Netgen
April, Netgen
May, Netgen
June, Netgen
July, Netgen
August, Netgen
September, Netgen
October, Netgen
November, Netgen
December, Total Fuel Consumption
Quantity, Electric Fuel Consumption
Quantity, Total Fuel Consumption
MMBtu, Elec Fuel Consumption
MMBtu, Net Generation
(Megawatthours), YEAR]
Index: []

[0 rows x 97 columns]

In [27]:
dflkajhsd = ('MidAmerican Energy Co', 'Avangrid Renewables LLC', 'EDF Renewable Asset Holdings, Inc.', 'RWE Renewables Americas LLC', 'Invenergy Services LLC', 'Southern Power Co', 'Pattern Operators LP', 'Engie North America', 'Northern States Power Co - Minnesota', 'PacifiCorp')

In [56]:
df21[df21['Operator Name']].groupby(['Net Generation\n(Megawatthours']).sum().to_frame()

KeyError: "None of [Index(['TDX Sand Point Generating, LLC', 'TDX Sand Point Generating, LLC',\n                     'Alabama Power Co',               'Alabama Power Co',\n                     'Alabama Power Co',               'Alabama Power Co',\n                     'Alabama Power Co',               'Alabama Power Co',\n                     'Alabama Power Co',               'Alabama Power Co',\n       ...\n           'State-Fuel Level Increment',     'State-Fuel Level Increment',\n           'State-Fuel Level Increment',     'State-Fuel Level Increment',\n           'State-Fuel Level Increment',     'State-Fuel Level Increment',\n           'State-Fuel Level Increment',     'State-Fuel Level Increment',\n           'State-Fuel Level Increment',     'State-Fuel Level Increment'],\n      dtype='object', length=15796)] are in the [columns]"

In [130]:
df21[df21['Operator Name'] == 'Southern Power Co'].groupby(['Reported\nPrime Mover'])['Reported\nPrime Mover'].count().sort_values(ascending = False)

Reported\nPrime Mover
PV    29
WT    15
GT     8
CA     5
CT     5
BA     2
Name: Reported\nPrime Mover, dtype: int64

In [68]:
filtered_df = df21[df21['Reported\nPrime Mover'].str.contains('WT', case=False)]

# Group the filtered DataFrame by operator name and calculate the sum of net generation
sum_by_operator = filtered_df.groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum()

In [75]:
filtered_df.groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum().to_frame().sort_values(by=['Net Generation\n(Megawatthours)'], ascending = False).head(10)

                                      Net Generation\n(Megawatthours)
Operator Name
MidAmerican Energy Co                                     23264493.00
Avangrid Renewables LLC                                   18186188.00
EDF Renewable Asset Holdings, Inc.                        14396618.65
RWE Renewables Americas LLC                               13185395.00
Invenergy Services LLC                                    10698405.90
Southern Power Co                                          8433072.00
Pattern Operators LP                                       7931107.00
Engie North America                                        6761709.00
Northern States Power Co - Minnesota                       6148014.00
PacifiCorp                                                 6115291.00

In [79]:
grouped_df = df21.groupby('Operator Name')['Reported\nPrime Mover'].apply(lambda x: 'WT' in x.values)
filtered_df = grouped_df[grouped_df].reset_index()
merged_df = pd.merge(filtered_df, df21, on='Operator Name')
sum_by_operator = merged_df.groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum()

In [85]:
sum_by_operator.to_frame().sort_values(by = 'Net Generation\n(Megawatthours)', ascending = False).head(20)

                                         Net Generation\n(Megawatthours)
Operator Name
Tennessee Valley Authority                                  1.419298e+08
PacifiCorp                                                  5.435660e+07
Southern Power Co                                           4.335482e+07
DTE Electric Company                                        4.010142e+07
Northern States Power Co - Minnesota                        3.905144e+07
MidAmerican Energy Co                                       3.854686e+07
Union Electric Co - (MO)                                    3.707105e+07
Invenergy Services LLC                                      2.948312e+07
Public Service Co of Colorado                               2.590744e+07
Basin Electric Power Coop                                   2.218641e+07
Wisconsin Electric Power Co                                 2.102390e+07
Oklahoma Gas & Electric Co                                  1.891413e+07
Avangrid Renewables LLC                                     1.840072e+07
Consumers Energy Co                                         1.804813e+07
Evergy Metro                                                1.741915e+07
Los Angeles Department of Water & Power                     1.676487e+07
Wisconsin Power & Light Co                                  1.550208e+07
Nebraska Public Power District                              1.544937e+07
EDF Renewable Asset Holdings, Inc.                          1.541481e+07
Southwestern Public Service Co                              1.480125e+07

In [126]:
grouped_df = df21.groupby('Operator Name')['Reported\nPrime Mover'].apply(lambda x: 'WT' in x.values)
filtered_df = grouped_df[grouped_df].reset_index()
merged_df = pd.merge(filtered_df, df21, on='Operator Name')
sum_by_operator2 = merged_df.groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

In [127]:
sum_by_operator2

                                      Net Generation\n(Megawatthours)
Operator Name
Tennessee Valley Authority                               1.419298e+08
PacifiCorp                                               5.435660e+07
Southern Power Co                                        4.335482e+07
DTE Electric Company                                     4.010142e+07
Northern States Power Co - Minnesota                     3.905144e+07
MidAmerican Energy Co                                    3.854686e+07
Union Electric Co - (MO)                                 3.707105e+07
Invenergy Services LLC                                   2.948312e+07
Public Service Co of Colorado                            2.590744e+07
Basin Electric Power Coop                                2.218641e+07

In [92]:
df20[df20['Operator Name']. 'Florida Power & Light Co']['Net Generation\n(Megawatthours)'].sum()

128561766.16199999

In [101]:
overall_list = df21.groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).to_frame()

In [131]:
overall_list.head(10)

                              Net Generation\n(Megawatthours)
Operator Name
Exelon Nuclear                                   1.819208e+08
Tennessee Valley Authority                       1.419298e+08
Florida Power & Light Co                         1.262830e+08
Duke Energy Carolinas, LLC                       9.829278e+07
Georgia Power Co                                 8.337351e+07
Virginia Electric & Power Co                     7.486078e+07
Alabama Power Co                                 6.464947e+07
Duke Energy Progress - (NC)                      5.962623e+07
PacifiCorp                                       5.435660e+07
Arizona Public Service Co                        5.185857e+07

TypeError: 'DataFrame' object is not callable

In [123]:
# List of Top 10 Wind Companies by Generation
df21[df21['Reported\nPrime Mover'] == 'WT'].groupby('Operator Name')['Net Generation\n(Megawatthours)'].sum().sort_values(ascending = False).head(10).to_frame()

                                      Net Generation\n(Megawatthours)
Operator Name
MidAmerican Energy Co                                     23264493.00
Avangrid Renewables LLC                                   18186188.00
EDF Renewable Asset Holdings, Inc.                        14396618.65
RWE Renewables Americas LLC                               13185395.00
Invenergy Services LLC                                    10698405.90
Southern Power Co                                          8433072.00
Pattern Operators LP                                       7931107.00
Engie North America                                        6761709.00
Northern States Power Co - Minnesota                       6148014.00
PacifiCorp                                                 6115291.00

In [125]:
# Top 10 Energy Companies Overall
overall_list.head(10)

                              Net Generation\n(Megawatthours)
Operator Name
Exelon Nuclear                                   1.819208e+08
Tennessee Valley Authority                       1.419298e+08
Florida Power & Light Co                         1.262830e+08
Duke Energy Carolinas, LLC                       9.829278e+07
Georgia Power Co                                 8.337351e+07
Virginia Electric & Power Co                     7.486078e+07
Alabama Power Co                                 6.464947e+07
Duke Energy Progress - (NC)                      5.962623e+07
PacifiCorp                                       5.435660e+07
Arizona Public Service Co                        5.185857e+07

In [128]:
# Top 10 Energy Companies with at least 1 WT plant
sum_by_operator2

                                      Net Generation\n(Megawatthours)
Operator Name
Tennessee Valley Authority                               1.419298e+08
PacifiCorp                                               5.435660e+07
Southern Power Co                                        4.335482e+07
DTE Electric Company                                     4.010142e+07
Northern States Power Co - Minnesota                     3.905144e+07
MidAmerican Energy Co                                    3.854686e+07
Union Electric Co - (MO)                                 3.707105e+07
Invenergy Services LLC                                   2.948312e+07
Public Service Co of Colorado                            2.590744e+07
Basin Electric Power Coop                                2.218641e+07

In [133]:
fpl = df21[df21['Operator Name'].str.contains('Florida Power', 'FPL', 'NextEra')]
fpl['Net Generation\n(Megawatthours)'].sum()

TypeError: unsupported operand type(s) for &: 'str' and 'int'

In [136]:
keywords = ['NextEra', 'FPL', 'Florida Power']

# Filter the series based on the keywords
filtered_series = df21['Operator Name'].str.contains('|'.join(keywords), case=False)

# Calculate the sum of net generation for the filtered companies
sum_net_generation = df21[df21['Operator Name'].isin(filtered_series)]['Net Generation\n(Megawatthours)'].sum()

In [137]:
sum_net_generation

0.0

In [144]:
keywords = ['NextEra', 'FPL', 'Florida Power']

# Create an empty list to store the matching names
matching_names = []

for value in df21['Operator Name']:
    # Convert the value to a string if it is a float
    if isinstance(value, float):
        value = str(value)
    
    # Check if the value contains any of the keywords
    if any(keyword in value for keyword in keywords):
        matching_names.append(value)

In [146]:
unique_names = list(set(matching_names))

In [147]:
unique_names

['NextEra Energy Desert Sunlight 250, LLC',
 'FPL Energy Hancock County Wind, LLC',
 'FPL Energy Red Canyon LLC',
 'NextEra Energy Mountain View Solar',
 'FPL Peetz Table Wind Energy',
 'FPL Energy Operating Services, Inc.',
 'FPL Energy North Dakota Wind LLC',
 'FPL Energy New Mexico Wind LLC',
 'NextEra Energy Operating Services LLC',
 'Florida Power & Light Co',
 'FPL Energy Vansycle LLC',
 'FPL Energy Stateline II Inc',
 'FPL Energy Weatherford, LLC',
 'NextEra Energy Seiling Wind',
 'NextEra Energy Point Beach LLC',
 'FPL Energy Wyman LLC',
 'FPL Energy Green Power',
 'FPL Energy Crystal Lake Wind LLC',
 'FPL Energy Operating Services Inc - SEGS',
 'NextEra Energy Montezuma Wind II, LLC',
 'NextEra Wolf Ridge LLC',
 'FPL Energy Oklahoma Wind LLC',
 'FPL Energy Burleigh County Wind LLC',
 'NextEra Energy Resources Breckinridge',
 'FPL Energy Callahan Wind, LLC',
 'FPL Energy Montezuma Wind',
 'FPL Energy South Dakota Wind LLC',
 'FPL Energy Oliver County Wind',
 'FPL Energy Oliver County Wind II LLC',
 'NextEra Energy Resources Ensign Wind',
 'FPL Energy Story Wind LLC',
 'FPL Energy Illinois Wind LLC',
 'FPL Energy Cape LLC',
 'FPL Energy Crystal Lake Wind II LLC',
 'FPL Energy Ashtabula Wind LLC',
 'FPL Energy Horse Hollow LLC',
 'NextEra Energy Desert Sunlight 300, LLC',
 'NextEra Energy Majestic Wind',
 'FPL Energy Upton Wind LP',
 'FPLE High Winds, LLC',
 'FPL Energy Langdon Wind LLC',
 'FPLE Wind, LLC',
 'NextEra Energy Seabrook LLC']

In [148]:
# Filter the original DataFrame based on the unique names
filtered_df = df21[df21['Operator Name'].isin(unique_names)]

# Calculate the sum of net generation for the filtered names
sum_net_generation = filtered_df['Net Generation\n(Megawatthours)'].sum()

In [162]:
filtered_df[filtered_df['Reported\nPrime Mover'] == 'WT']['Net Generation\n(Megawatthours)'].sum()

15996656.0

In [164]:
filtered_df[filtered_df['Reported\nPrime Mover'] == 'WT']

,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
6586,54454,N,.,San Gorgonio Windplant WPP1993,"FPL Energy Operating Services, Inc.",49963,CA,PACC,WECC,NaN,...,14319.44,10938.095,6512.291,8894.232,0,0,1619665,1619665,183137.0,2021
7418,55396,N,.,Green Power I,FPL Energy Green Power,49750,CA,PACC,WECC,NaN,...,462.649,353.401,210.407,287.365,0,0,52329,52329,5917.0,2021
7540,55560,N,.,FPL Energy Vansycle LLC (WA),FPL Energy Vansycle LLC,6607,WA,PACC,WECC,NaN,...,12975.376,14235.186,17740.345,17091.114,0,0,1585172,1585172,179237.0,2021
7557,55581,N,.,King Mountain Wind Ranch 1,FPL Energy Upton Wind LP,6354,TX,WSC,TRE,NaN,...,34927,35227,37863,32045,0,0,4460435,4460435,504346.0,2021
7753,55989,N,.,FPL Energy Vansycle LLC (OR),FPL Energy Vansycle LLC,6607,OR,PACC,WECC,NaN,...,6250.437,8963.461,6205.811,8195.291,0,0,1100388,1100388,124422.0,2021
7770,56010,N,.,Hancock County Wind Energy Center,"FPL Energy Hancock County Wind, LLC",6850,IA,WNC,MRO,NaN,...,15795,21151,32853,17562,0,0,2130642,2130642,240914.0,2021
7824,56075,N,.,High Winds LLC,"FPLE High Winds, LLC",8565,CA,PACC,WECC,NaN,...,27846.426,21270.864,12664.185,17296.248,0,0,3149693,3149693,356139.0,2021
7835,56092,N,.,South Dakota Wind Energy Cente,FPL Energy South Dakota Wind LLC,34721,SD,WNC,MRO,NaN,...,6612,8719,8216,7810,0,0,754288,754288,85288.0,2021
7836,56093,N,.,TransAlta Wyoming Wind,NextEra Energy Operating Services LLC,58528,WY,MTN,WECC,NaN,...,21589.815,30832.295,41672.465,49293.111,0,0,3148207,3148207,355971.0,2021
7837,56094,N,.,Oklahoma Wind Energy Center,FPL Energy Oklahoma Wind LLC,34719,OK,WSC,MRO,NaN,...,11397.854,11729.183,12237.764,12691.194,0,0,1197275,1197275,135377.0,2021
7838,56097,N,.,New Mexico Wind Energy Center,FPL Energy New Mexico Wind LLC,34717,NM,MTN,WECC,NaN,...,44328,44337,48007,76997,0,0,5406813,5406813,611354.0,2021
7840,56099,N,.,FPL Energy North Dakota Wind I/II,FPL Energy North Dakota Wind LLC,34723,ND,WNC,MRO,NaN,...,9414.602,11212.07,10514.436,10148.481,0,0,925171,925171,104610.0,2021
7997,56270,N,.,Callahan Divide Wind Energy Center,"FPL Energy Callahan Wind, LLC",50012,TX,WSC,TRE,NaN,...,28493.561,35486.558,34638.198,39340.582,0,0,3598357,3598357,406870.0,2021
7999,56273,N,.,Weatherford Wind Energy Center,"FPL Energy Weatherford, LLC",50014,OK,WSC,MRO,NaN,...,52417.819,53941.573,56280.496,58365.788,0,0,5506169,5506169,622588.0,2021
8013,56291,N,.,Horse Hollow Wind Energy Center,FPL Energy Horse Hollow LLC,50063,TX,WSC,TRE,NaN,...,134112,211732,228800,201092,0,0,20464778,20464778,2313973.0,2021
8078,56357,N,.,FPL Energy Burleigh County Wind,FPL Energy Burleigh County Wind LLC,54717,ND,WNC,MRO,NaN,...,17204.485,20489.224,19214.35,18545.594,0,0,1690680,1690680,191167.0,2021
8100,56392,N,.,FPL Energy Oliver Wind I LLC,FPL Energy Oliver County Wind,55696,ND,WNC,MRO,NaN,...,16369.672,19495.025,18282.012,17645.706,0,0,1608645,1608645,181891.0,2021
8157,56457,N,.,Post Wind Farm LP,FPL Energy Red Canyon LLC,54870,TX,WSC,TRE,NaN,...,13733.452,17103.968,16695.072,18961.547,0,0,1734351,1734351,196105.0,2021
8267,56563,N,.,Peetz Table Wind Energy,FPL Peetz Table Wind Energy,55785,CO,MTN,WECC,NaN,...,47952.925,52632.849,53778.195,68113.968,0,0,5515588,5515588,623653.0,2021
8276,56573,N,.,FPL Energy Oliver Wind II LLC,FPL Energy Oliver County Wind II LLC,54799,ND,WNC,MRO,NaN,...,17278.913,20577.861,19297.473,18625.823,0,0,1697995,1697995,191994.0,2021
8299,56605,N,.,"Langdon Renewables, LLC",FPL Energy Langdon Wind LLC,55799,ND,WNC,MRO,NaN,...,45427.592,54100.781,50734.54,48968.723,0,0,4464159,4464159,504767.0,2021
8340,56648,N,.,Majestic 1 Wind Farm,NextEra Energy Majestic Wind,58353,TX,WSC,MRO,NaN,...,24711.671,30776.502,30040.743,34118.989,0,0,3120755,3120755,352867.0,2021
8548,56912,N,.,Langdon Wind II LLC,FPL Energy Langdon Wind LLC,55799,ND,WNC,MRO,NaN,...,16613.654,19785.589,18554.497,17908.707,0,0,1632622,1632622,184602.0,2021
8553,56919,N,.,FPL Energy Ashtabula Wind LLC,FPL Energy Ashtabula Wind LLC,56122,ND,WNC,MRO,NaN,...,54138.596,64474.919,60463.183,58358.76,0,0,5320188,5320188,601559.0,2021
8557,56923,N,.,FPL Energy Crystal Lake Wind LLC,FPL Energy Crystal Lake Wind LLC,56123,IA,WNC,MRO,NaN,...,40879,47095,67497,31692,0,0,4638272,4638272,524454.0,2021
8558,56924,N,.,FPL Energy Story Wind LLC,FPL Energy Story Wind LLC,56119,IA,WNC,MRO,NaN,...,39411,46042,66605,58528,0,0,4898107,4898107,553834.0,2021
8559,56925,N,.,FPL Energy Crystal Lake Wind II LLC,FPL Energy Crystal Lake Wind II LLC,56124,IA,WNC,MRO,NaN,...,51839,60574,85784,40198,0,0,6055645,6055645,684718.0,2021
8843,57201,N,.,FPL Energy Montezuma Winds LLC,FPL Energy Montezuma Wind,56555,CA,PACC,WECC,NaN,...,8403.758,6419.323,3821.918,5219.825,0,0,950544,950544,107479.0,2021
8943,57325,N,.,FPL Energy Illinois Wind LLC Hybrid,FPL Energy Illinois Wind LLC,56678,IL,ENC,RFC,NaN,...,50531,48043,76407,70170,0,0,5979348,5979348,676091.0,2021
9156,57590,N,.,"Minco Wind I, LLC","FPLE Wind, LLC",56925,OK,WSC,MRO,NaN,...,29435.539,30291.211,31604.648,32775.656,0,0,3092022,3092022,349618.0,2021
9255,57701,N,.,Montezuma Wind II,"NextEra Energy Montezuma Wind II, LLC",57026,CA,PACC,WECC,NaN,...,18643.881,14241.377,8478.99,11580.272,0,0,2108799,2108799,238444.0,2021
9514,57956,N,.,"Minco Wind II, LLC","FPLE Wind, LLC",56925,OK,WSC,MRO,NaN,...,24844.555,25566.771,26675.354,27663.723,0,0,2609768,2609768,295089.0,2021
9638,58080,N,.,Wolf Ridge Wind,NextEra Wolf Ridge LLC,57460,TX,WSC,TRE,NaN,...,26074.196,32473.423,31697.097,36000.205,0,0,3292824,3292824,372323.0,2021
9692,58137,N,.,Ensign Wind LLC,NextEra Energy Resources Ensign Wind,58090,KS,WNC,MRO,NaN,...,32220.585,30458.959,31905.129,36179.605,0,0,3306090,3306090,373823.0,2021
9789,58203,N,.,"Minco Wind III, LLC","FPLE Wind, LLC",56925,OK,WSC,MRO,NaN,...,29869.219,30737.499,32070.286,33258.547,0,0,3137578,3137578,354769.0,2021
9918,58324,N,.,Vansycle II Wind Energy Center,FPL Energy Stateline II Inc,58298,OR,PACC,WECC,NaN,...,15254.549,21875.838,15145.636,20001.076,0,0,2685559,2685559,303659.0,2021
9956,58363,N,.,Majestic II Wind,NextEra Energy Majestic Wind,58353,TX,WSC,TRE,NaN,...,22877.836,28492.6,27811.442,31587.044,0,0,2889168,2889168,326681.0,2021
10531,58994,N,.,Breckinridge Wind Project LLC,NextEra Energy Resources Breckinridge,59394,OK,WSC,MRO,NaN,...,33877.163,34861.951,36373.576,37721.282,0,0,3558587,3558587,402373.0,2021
10791,59311,N,.,Seiling Wind I,NextEra Energy Seiling Wind,59115,OK,WSC,MRO,NaN,...,66513.231,68446.729,71414.601,74060.638,0,0,6986805,6986805,790005.0,2021
10792,59312,N,.,Seiling Wind II,NextEra Energy Seiling Wind,59115,OK,WSC,MRO,NaN,...,32376.415,33317.577,34762.238,36050.241,0,0,3400942,3400942,384548.0,2021